%h1 Menu
%h2
  This restaurant have
  = pluralize(@restaurant.pizzas.count, "pizza")

%table.table.table-condensed
  %thead
    %tr
      %th Name
      %th Price
      %th Ingredients
      %th Action

  %tbody
    = render @pizzas
%br

= link_to 'New Pizza', new_restaurant_pizza_path(@restaurant), class: 'btn btn-info'
= link_to 'Restaurant list', restaurants_path, {class: 'btn btn-default', title: "Back"}
